<%= form_for(@bayes_classifier_category) do |f| %>
  <% if @bayes_classifier_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bayes_classifier_category.errors.count, "error") %> prohibited this bayes_classifier_category from being saved:</h2>

      <ul>
      <% @bayes_classifier_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
